aiogram==3.28.2
python-decouple==3.8
httpx==0.28.1
pyrogram==2.0.106

yt-dlp==2026.3.17
instagrapi==2.7.12
secretstorage==3.5.0
playwright==1.60.0
scdl==3.0.5
beautifulsoup4==4.14.3
aiohttp==3.13.5
redis>=5.0.0
pydantic>=2.0.0

